.avatar-flow {
    margin: 40px auto;
}

.final-avatar {
    width: 100%;
    height: 520px;
    border-radius: 50px;
    object-fit: cover;
}

@media screen and (max-width: 1536px){
    .final-avatar {
        width: 100%;
        height: 470px;
        border-radius: 50px
    }   
}

@media screen and (max-width: 1280px) {
    .final-avatar {
        width: 100%;
        height: 450px;
        border-radius: 50px
    } 
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}

@media screen and (max-width: 768px) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    } 
}

@media screen and (max-width: 640px) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}

@media screen and (max-width: 635px){
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}


@media screen and (max-width: 600px) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}


@media screen and (max-width: 475px) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 4) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}


@media screen and (max-width: 320px) {
    .final-avatar {
        width: 100%;
        height: 350px;
        border-radius: 50px
    }
}