@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}


:root {
  /*========== Colors ==========*/

  --first-color: #373d46;
  --text-first-color: #FFFFFF;
  --bg-first-color: #FFFFFF;
  --modal-bg-color: #fff;
  --bg-color: #414260;
  --text-input-bg: #FFFFFF;
  --text-color: #FFFFFF;
  --container-bg: #c7ad91;
  --btn-color: #ddc0a1;
  --border-color: #EDEDED;
  --light-blue: #2ECDCD;

  /*========== Input ==========*/
  --normal-size: 115px;
  --large-size: 240px;
  --normal-height: 60px;
  --border-radius-input: 60px;

  /*========== Font weight ==========*/

  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /*========== Font and typography ==========*/
  --title: 18px;
  --normal-font-size: 0.88rem;
  --large-font-size: 1.25rem;
  --share-link-span: 0.9869em;
  --input-font-size: 24px;
  --text: 20px;

  /*========== z index ==========*/
  --z-modal: 1000;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 365px;
  margin: 0 auto;
}

input[type="text"] {
  border: 1px solid #EDEDED;
}

input[type="text"]:focus {
  border: 1px solid #EDEDED;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

button {
  outline: none;
}

button:active {
  outline: none;
}

button:focus {
  outline: 0;
}